*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul{
    display: flex;
}

.container ul li {
    list-style: none;

}

ul li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    justify-content: right;
}

.container button {
    outline: none;
    border: none;
    background:green;
    padding: 5px;
    color: #fff;
    border-radius: 7px;
}